<div class="jumbotron text-center">
    <h1>'Allo, 'Allo!</h1>
    <p class="lead">
        <img src="images/yeoman.png" alt="I'm Yeoman"><br>
        Always a pleasure scaffolding your apps.
    </p>
    <p><a class="btn btn-lg btn-success" ng-href="#">Splendid!</a></p>
</div>

<div class="row">
    <div class="col-lg-6 col-lg-offset-3">
        <button class="btn btn-primary" ng-click="addTodo()">Add</button>
        <div class="row">&nbsp;</div>
        <form name="todo" class="animated bounceIn"
              ng-if="isAdding">
            
            <fieldset>
                <legend>Add new Todo</legend>
                <div class="form-group">
                    <label for="title">Title</label>
                    <input id="title" class="form-control" type="text" ng-model="todo.title">
                </div>
                <div class="form-group">
                    <label for="description">Description</label>
                    <input id="description" class="form-control" type="text" ng-model="todo.description">
                </div>
                <button class="btn btn-success" ng-click="createTodo(todo)">Create</button>
                <button class="btn btn-danger" ng-click="cancelTodo()">Cancel</button>
            </fieldset>

        </form>
        <div class="row">&nbsp;</div>
    </div>

    <div class="col-lg-6 col-lg-offset-3">
        <div class="list-group">
            <a href=""
                class="list-group-item list-group-item-success"
                style="overflow:hidden;"
                ng-class="{'list-group-item-success': todo.done, 'list-group-item-danger': !todo.done}"
                ng-repeat = "todo in todos">
                <span ng-if="!todo.done" class="btn btn-sm btn-success pull-right"
                        ng-click="completeTodo(todo)">Complete</span>
                <span ng-if="todo.done" class="badge">
                    Completed
                </span>
                <h4 class="list-group-item-heading list">{{ todo.title }}

                </h4>
                <p class="list-group-item-text">
                    {{ todo.description }}
                </p>
                <span ng-if="todo.done" class="btn btn-sm btn-danger pull-right"
                        ng-click="deleteTodo(todo, $index)">Delete</span>
            </a>
        </div>
    </div>
</div>
